version: "3.9"

services:
  mimosa:
    build: .
    container_name: mimosa
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
